*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #eee;

}
header{
    margin: 3rem 0;
}
h1{
    text-align: center;
    color:#149911;

}
#winner{
    text-align: center;
    height: 1.2rem;
    color:  black;
}

.top-button-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

}
.startGameButton{
    color: #FFF;
    background-color: #149911;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border: solid 2px #149911;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    opacity: 0;
    border-radius: 5px;
    
}
.restart{
    color: #fff;
    background-color: #5FBFF9;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    border: solid 2px #5FBFF9;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    opacity: 0;
    border-radius: 5px;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    /* display: none; */
}
.formContainer{
    position: relative;
    font-size: 1.3rem;
    width: 33%;
    gap: 20px;  
}
.playerinputs1, .playerinputs2{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-size: 1.3rem;
 margin: 1rem 0;
 gap: 10px;
}
.gameboardDiv{
    width: 33%;
}
.textinput{
    width: 100%;
}
.textinput input{
    width: 100%;
    height: 3rem;
    font-size: 1.125rem;
    padding-left: .5rem;
    background-color: whitesmoke;
    border:  #149911 solid 2px;
    transition: all .5s ease-out;
    flex: 1;
    border-radius: 5px;
}
.selectContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.selectinput{
    width: 50%;
    margin: 0;
    height: 3rem;
    display: flex;
    flex-direction: column;
  
}

label{
    color: black;
    width: inherit;
    font-size: 18px;
}
select{
    width: 95%;
    height: 3rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
    border:  #149911 solid 2px;
}

.createPlayer1, .createPlayer2{
    color: #FFF;
    width: 50%;
    background-color: #15a512;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:  5px;
    border: none;
}
.createPlayer1:hover, .createPlayer2:hover{
    color:#149911;
    background-color: #fff;
}
#playermark{
    margin: 2rem 0;
}
.gameboardDiv{
    width:20rem;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: none;
    border: solid 2px black;
}
.cell:nth-child(1){
    border-top: none;
    border-left: none;
}
.cell:nth-child(2){
    border-top: none;
}
.cell:nth-child(3){
    border-top: none;
    border-right: none;
}
.cell:nth-child(4){
    border-left: none;
}
.cell:nth-child(6){
    border-right: none;
}
.cell:nth-child(7){
    border-left: none;
    border-bottom: none;
}
.cell:nth-child(8){
    border-bottom: none;
}
.cell:nth-child(9){
    border-bottom: none;
    border-right: none;
}

.mark{
    height: 100%;
    width: 100%;
    font-size: 44px;
    text-align: center;
    position: absolute;
    top: 25%;
}

.playerInfo{
    position: absolute;
    top: 20%;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    gap: 1.2rem;
    z-index: -1;
}
#startGame {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}
.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
  }
  
.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity 1s linear;
  }

