h1{
    text-align: center;
}
.gameboardDiv{
    width: 75%;
    margin: 0 auto;
    height: 600px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.cell{
    background-color: aqua;
}
.mark{
    height: 100%;
    width: 100%;
    font-size: 44px;
    text-align: center;
}
